page-login {
  $PRIMARY: map-get($colors, primary);
  $SECONDARY: map-get($colors, secondary);
  $LIGHTEST: map-get($colors, lightest);

  .content{
    background: $PRIMARY;
    background: -moz-linear-gradient(top, $PRIMARY 0%, #01aee8 100%);
    background: -webkit-linear-gradient(top, $PRIMARY 0%,#01aee8 100%);
    background: linear-gradient(to bottom, $PRIMARY 0%,#01aee8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$PRIMARY', endColorstr='$SECONDARY',GradientType=0 );
  }

  .app-icon {
    color: $LIGHTEST;
    font-size: 20rem;
    padding: 5rem 5rem 2rem 5rem;
  }

  .scroll-content {
    text-align: center;
  }

  ion-list {
    padding: 5rem;
    max-width: 40rem;
  }

  .list {
    margin: 0 auto;
  }

  .item {
    background-color: $PRIMARY;
    color: $LIGHTEST;
  }

  .list > .item-block:first-child,
  .list > .item-block:last-child,
  .list > .item-block {
    border: 2px solid $LIGHTEST;
    border-radius: 30px;
    margin: 0 0 15px 0;
  }

  .list .item-block .item-inner {
    border-bottom: none;
  }

  .button {
    contain: none;
    background-color: $LIGHTEST;
    border: 2px solid $LIGHTEST;
    border-radius: 30px;
    color: $PRIMARY;
    width: 100%;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,.5);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,.5);
  }

  .button.activated {
    background-color: $PRIMARY;
    color: $LIGHTEST;
  }

  .button-inner {
    font-size: 1.8rem;
  }

  .pw-reset {
    color: $LIGHTEST;
    font-weight: normal;
  }

  input.text-input::-webkit-input-placeholder {
    color: $LIGHTEST;
    font-weight: normal;
  }

  input.text-input:-ms-input-placeholder {
    color: $LIGHTEST;
    font-weight: normal;
  }

  input.text-input::-moz-placeholder {
    color: $LIGHTEST;
    opacity: 1;
    font-weight: normal;
  }

  input.text-input:-moz-placeholder {
    color: $LIGHTEST;
    opacity: 1;
    font-weight: normal;
  }

}
