@import "../../theme/partials/titlebar";

page-hub {
  $PRIMARY: map-get($colors, primary);
  $SECONDARY: map-get($colors, secondary);
  $LIGHTEST: map-get($colors, lightest);

  .header .toolbar:last-child .toolbar-background {
    border-width: 0;
  }

  .card.user-card{
    border-radius: 0;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0 0 10px 0;
    box-shadow: none;
    background: $PRIMARY;
    background: -moz-linear-gradient(top, $PRIMARY 0%, $SECONDARY 100%);
    background: -webkit-linear-gradient(top, $PRIMARY 0%, $SECONDARY 100%);
    background: linear-gradient(to bottom, $PRIMARY 0%, $SECONDARY 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$PRIMARY', endColorstr='$SECONDARY',GradientType=0 );
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,.5);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,.5);

    .card-header {
      text-align: center;
      color: $LIGHTEST;
      font-size: 2.5rem;
      font-weight: normal;
      margin: 1rem 0 2.5rem 0;
    }

    .card-content {
      padding: 0;
    }

    .item {
      background-color: transparent;

      .item ion-avatar img {
        width: 63px;
        height: 63px;
      }

      .input-wrapper {
        display: block;
      }

      ion-icon[item-left] {
        margin: 0 5px 0 0;
      }
    }

    .label {
      font-weight: normal;
      color: $LIGHTEST;
    }

    .job-holder,
    .place-holder {
      color: $LIGHTEST;
      font-weight: lighter;
      font-size: 1.2rem;
      margin: 5px 0;
    }

    .job-holder {
      font-style: italic;
    }
  }

  ion-fab {
    top: 16rem;
  }

  .fab-in-list {
    background-color: $PRIMARY;
    color: $LIGHTEST;
  }

  .fab-list-active .fab-in-list.activated {
    background-color: $LIGHTEST;
    color: $PRIMARY;
  }
}
