accordion {
  $SECONDARY: map-get($colors, secondary);
  $DARKEST: map-get($colors, darkest);
  $LIGHT: map-get($colors, light);
  $LIGHTER: map-get($colors, lighter);

  .input-wrapper {
    display:block;
  }

  .item.item-block .item-inner {
    padding-left: 0;
    padding-right: 0;
  }

  .item {
    padding-left: 0;

    ion-icon[item-right] {
      position: absolute;
      font-size: 2.2rem;
      top: 0;
      right: 0;
      margin-right: 16px;
      margin-top: 11px;
      color: $LIGHT;
    }

    .label {
      padding-left: 16px;
    }
  }

  .card {
    border-radius: 0;
    margin: 0;
    width: 100%;
    background-color: $LIGHTER;

    .list {
      .item:first-child .label,
      .item:first-child .note {
        font-size: 1.8rem;
        font-weight: bold;
      }

      .item {
        padding: 0 24px 0 0;
        background-color: transparent;
        min-height: 2rem;

        .label,
        .note {
          font-size: 1.2rem;
          color: $DARKEST;
        }
      }

      > .item-block:first-child,
      > .item-block:last-child {
        border: none;
      }
    }
  }

  .card-content {
    padding: 0;
    text-align: center;
  }

  .button {
    border-radius: 30px;
    margin: 10px 0 20px 0;
    background-color: $SECONDARY;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,.5);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,.5);
  }

}
